In [78]:
import pandas as pd

In [79]:
data = pd.read_csv('ausapasovehiculo-2015.csv',';')

In [80]:
data.tail()

,PERIODO,FECHA,DIA,HORA,HORA_FIN,ESTACION,TIPO_VEHICULO,FORMA_PAGO,CANTIDAD_PASOS
1048570,2015,22/12/2015,MARTES,4:00:00,5:00:00,AVE,LIVIANO,INFRACCION,4
1048571,2015,22/12/2015,MARTES,4:00:00,5:00:00,AVE,LIVIANO,AUPASS,53
1048572,2015,22/12/2015,MARTES,4:00:00,5:00:00,AVE,LIVIANO,EFECTIVO,16
1048573,2015,22/12/2015,MARTES,4:00:00,5:00:00,AVE,LIVIANO,AUPASS,11
1048574,2015,22/12/2015,MARTES,4:00:00,5:00:00,AVE,LIVIANO,EXENTO,1

In [81]:
data['HORA'].unique()

array(['0:00:00', '1:00:00', '2:00:00', '3:00:00', '4:00:00', '5:00:00',
       '6:00:00', '7:00:00', '8:00:00', '9:00:00', '10:00:00', '11:00:00',
       '12:00:00', '13:00:00', '14:00:00', '15:00:00', '16:00:00',
       '17:00:00', '18:00:00', '19:00:00', '20:00:00', '21:00:00',
       '22:00:00', '23:00:00'], dtype=object)

In [82]:
data['HORA'] = pd.to_datetime(data['HORA'], format='%H:%M:%S').dt.hour

In [83]:
data['ESTACION'].unique()

array(['ALB', 'AVE', 'DEL', 'ILL', 'RET', 'SAR', 'DEC', 'SAL'], dtype=object)

In [84]:
agg_data = data.groupby(['HORA','ESTACION']).aggregate({'CANTIDAD_PASOS': 'mean'})

In [85]:
agg_data.idxmax()

CANTIDAD_PASOS    (16, AVE)
dtype: object

In [86]:
agg_data.max()

CANTIDAD_PASOS    291.829134
dtype: float64

In [87]:
#datos agregados y normalizados
normalized_data = agg_data.reset_index()

In [92]:
tabular_data = normalized_data.pivot(index='HORA', columns='ESTACION', values='CANTIDAD_PASOS')

In [93]:
tabular_data.to_csv('viajes_por_estacion.csv')

In [94]:
tabular_data

ESTACION,ALB,AVE,DEC,DEL,ILL,RET,SAL,SAR
HORA,,,,,,,,
0,25.236806,106.589501,39.351268,55.196133,71.588697,10.845642,4.843085,17.184994
1,19.432085,82.514128,29.750646,43.087777,50.753956,7.982985,3.486726,10.374674
2,14.081186,57.622700,21.083878,32.759455,35.852022,6.377873,2.618182,6.577031
3,10.632455,44.245783,17.919061,30.978114,28.733543,5.950643,2.523622,5.029874
4,9.719780,48.190496,27.634266,33.701134,31.812331,7.184502,2.716912,5.244220
5,18.910400,88.700270,59.499435,46.074305,54.355816,12.164002,3.967033,8.153846
6,38.424404,176.977188,95.013129,68.220758,115.826428,16.522568,5.648501,12.915441
7,73.803245,151.220940,119.721365,89.281129,161.183128,19.840082,7.580723,47.552224
8,91.216479,167.439531,141.135172,107.381822,179.072849,22.081468,8.261663,67.623519
9,88.370110,166.645698,128.964215,106.054628,171.641696,23.791621,8.712743,63.666348
10,80.096380,251.144173,121.115972,113.019492,207.897922,25.213821,8.442623,48.749550
11,80.617351,274.187051,119.400323,118.990653,214.366202,26.601927,9.927813,56.722008
12,84.531765,282.244447,119.126744,122.741935,219.038663,27.978669,11.567391,65.590385
13,85.170336,287.121631,123.274463,120.411308,218.076379,30.053196,12.369330,57.941948
14,82.893870,275.505738,113.802846,115.826450,204.218557,31.578425,11.226263,50.052239
15,85.486626,282.859341,109.750073,111.646107,220.664213,30.536296,12.658103,56.639098
16,85.480313,291.829134,115.067884,116.053483,228.604100,32.562386,13.797189,58.195777
17,88.371665,195.021407,123.231595,106.576697,178.107008,33.268603,16.292111,59.100598
18,88.963148,198.027964,121.790519,110.743584,185.446802,34.895273,15.205394,57.308004
19,77.193778,179.387889,102.501862,112.355055,157.822011,27.947787,13.723744,54.469806
20,72.144158,261.525683,102.314855,114.866326,180.682206,26.489237,13.265700,54.411100
21,59.676370,218.477283,90.991459,102.148673,144.952611,21.345760,10.297229,36.630388
22,39.191931,151.136781,66.808995,78.225668,101.622285,18.310603,7.089286,21.451397
23,30.236434,121.087782,47.603515,60.539804,82.844435,13.376754,5.613158,18.305455